//COLORS --------------------------------------------
$black: #212a3b;
$gray: #9399a2;
$light_gray: #ebedef;
$blue: #0194ff;
$white: #ffffff;


//TEXT COLORS ---------------------------------------
$text-color-default: $gray;
$text-color-black: $black;
$text-color-white: $white;

//BACKGROUND AND LINE COLORS ------------------------
$background-gray: $light_gray;
$background-blue: $blue;
$line-gray: $light_gray;

//SHADOW---------------------------------------------
$default-shadow: 0px 10px 10px rgba(0, 0, 0, 0.05)