//FONT FAMILIES---------------------------------------------------------
$font-family-text: 'Jost', sans-serif;

//FONT SIZES DESKTOP----------------------------------------------------
$font-size-small: 0.75rem;
$font-size-default: 0.875rem;
$font-size-subtitle: 1rem;
$font-size-title: 1.75rem;
$font-size-mainTitle: 2.375rem;


// FONT WEIGHTS --------------------------------------------------------------
$weight-medium: 500;
$weight-regular: 400;
$weight-bold: 700;
