.section{
    &__weather{
        margin: 2rem 0 5rem 0;
        padding: 1.5rem;
        border: 1.5px solid $line-gray ;
        border-radius: 1.5rem;
        width: fit-content !important;
        box-shadow: $default-shadow;
    }
    &__wicon{
        margin-left: 15rem;
        width: 10rem;
    }
    &__details{
        background-color: $light_gray;
        border-radius: 1.5rem;
        padding: 0.5rem;
        margin: 2rem 0 5rem 0;
        height: 20rem;
    }
}